BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 1faba87319f4

ALTER TABLE reports ADD COLUMN cleared_at TIMESTAMP WITHOUT TIME ZONE;

INSERT INTO alembic_version (version_num) VALUES ('1faba87319f4') RETURNING alembic_version.version_num;

-- Running upgrade 1faba87319f4 -> 708b0e0a309c

ALTER TABLE bins ALTER COLUMN location DROP NOT NULL;

ALTER TABLE bins ALTER COLUMN latitude TYPE VARCHAR;

ALTER TABLE bins ALTER COLUMN longitude TYPE VARCHAR;

DROP INDEX ix_bins_latitude;

DROP INDEX ix_bins_longitude;

DROP INDEX ix_bins_location;

CREATE UNIQUE INDEX ix_bins_location ON bins (location);

ALTER TABLE reports ADD COLUMN cleared_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE reports ALTER COLUMN status DROP NOT NULL;

ALTER TABLE reports ALTER COLUMN created_at DROP NOT NULL;

DROP INDEX ix_reports_bin_id;

CREATE INDEX ix_reports_status ON reports (status);

UPDATE alembic_version SET version_num='708b0e0a309c' WHERE alembic_version.version_num = '1faba87319f4';

COMMIT;

